{% extends "base.html" %}
    {% block content %}
        {% load static %}
        
        <nav class="navbar">
            {% if request.user.is_authenticated %}
            <a href="{% url 'index' %}" class="nav-item"><i class="fas fa-newspaper"></i> Newsfeed</a><br>
            <a href="/user/{{request.user.id}}" class="nav-item"><i class="fas fa-user"></i> Profile</a><br>   
            <a href="" class="nav-item"><i class="fas fa-heart"></i> Favorites</a><br>
            <a href="{% url 'newpost' %}" class="nav-item"><i class="fas fa-plus"></i> New post</a><br>
            <a href="{% url 'logout' %}" class="nav-item"><i class="fas fa-sign-out-alt"></i> LogOut</a><br>
            {% endif %}
        </nav>
        {% for post in posts %}
            <div class="post" id="{{ post.id }}">
                <img class="post-img" src='{{ post.img.url }}'>
                <div class="post-text">
                    <a class="post-title" href="/post/{{post.id}}">{{ post.title }}</a><br><hr>
                    <div class="post-text-height">{{ post.text }}</div>
                    <a href="/user/{{ post.author.id }}/" class="author">{{ post.author }}</a>
                    {% if user.is_authenticated %}
                      {% if post.is_liked_by_current_user %}
                          <div class="rate" style="color: #ED002F;">{{post.likes}} <a href="like/add/{{post.id}}/{{user.id}}/#{{post.id}}"><i class="fas fa-heart" style="font-size: 16pt;color: #ED002F;"></i></a></div>
                      {% else %}
                          <div class="rate">{{post.likes}} <a href="like/add/{{post.id}}/{{user.id}}/#{{post.id}}"><i class="fas fa-heart" style="font-size: 16pt;"></i></a></div>
                      {% endif %}
                    {% endif %}
                    <i class="date">{{ post.pub_date }}</i>
                </div><br>
            </div>
        {% endfor %}
    {% endblock %}    